///////////
/// current weather content-top

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 5px 5px;

  &__info-city {
    font-weight: 550;
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
  }

  &__info-description {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
  }

  &__icon {
    width: 125px;;
  }
}

////////////////////////////
/// current weather content-bottom
.content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__temperature {
    font-weight: 700;
    font-size: 7rem;
    letter-spacing: -3px;
    margin: 1.5rem 0;
    width: auto;
  }

  &__details {
    width: 20%;
   padding: 10px 15px 10px 15px;
   @media (max-width: 525px){
    display: grid;
    margin-right: .5rem;
   }
  }

  &__details-box{
    display: flex;
    justify-content: space-between;
  }

  &__details-label {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 400;
  }
  &__details-value {
    text-align: right;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

////////////////////////
/// forecast section
.title {
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.daily-weather {
  padding: .5rem 1rem;
  font-size: 1.5rem;
  height: 4rem;
  background-color: rgba(255,255,255,0.65);
  border-radius: 1.5rem;
  margin: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .2s ease-in-out;

  &__icon {
    width: 5.5rem;
  }
  &__day {
    font-weight: 600;
    flex: 1;
    margin-left: 1.5rem;
  }
  &__description {
    font-weight: 600;
    flex: 1;
    text-align: right;
    margin-right: 1.5rem;
  }

}

.daily-weather:hover {
  transform: scale(1.05);
  box-shadow: 10px 15px 15px -3px rgb(0 0 0 / 10%);
}
////////////////////////
/// Forecast DETIALS Section
.daily-details-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #fbfbf9;
  padding: .5rem 0rem .5rem 0rem;
  margin: 0 2rem 0 2rem;
  border-radius: 1.5rem;

  &__item {
    display: inline-grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0rem .25rem 0rem .25rem;
  }
  &__item label:first-child {
    color: gray;
  }
  &__item label:last-child {
    color: #28231d;
    font-weight:500;
  }
}
////////////////////////
///  Opening Display Section
.opening {

  &__image-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__weather-icon {
    height: 40rem;
  }


  &__title-container {
    margin-top: -12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  

    &__word-even {
      padding: .5rem;
      transition: all .2s ease-in-out;
      font-size: 6rem;
      font-family: 'PT Sans Caption', sans-serif;
    }

    &__word-odd {
      padding: .5rem;
      transition: all .2s ease-in-out;
      font-size: 6rem;
      font-family: 'Prompt', sans-serif;
    }
    &__word-odd:hover {
      transform: scale(1.1);
    }
    &__word-even:hover {
      transform: scale(1.1);
    }
  }
}